div.fme-filter dd a {padding:0px 5px 0px 0px; display:block; float: left;} 

/*categories*/
div.fme-filter span.adj-nav-category-current {font-weight: bold; font-size: 12px; padding-left: 5px;} 
div.fme-filter a.adj-nav-pad2 {padding-left:5px}
div.fme-filter a.adj-nav-pad3 {padding-left:10px}

/*price ranges*/
div.fme-filter a.adj-nav-price {}
div.fme-filter a.adj-nav-price-selected {font-weight: bold}

/*attributes*/
div.fme-filter a.fme_layered_attribute { padding-left:25px;  background:transparent url(../../images/FME/Check-Box.png) no-repeat scroll 0px 1px;}
div.fme-filter a.fme_layered_attribute_selected {padding-left:25px; /*border:dotted;*/ background-position: 0px -16px; font-weight: bold; overflow:hidden;}
div.fme-filter a.fme_layered_swatches {padding:0px 0px 5px 0px;}
div.fme-filter a.fme_layered_swatches_selected {opacity:0.5}

div.fme-filter a.fme_layered_disabled {color:gray; cursor:wait}
div.fme-filter input.fme_layered_disabled {background-color:gray; border:1px solid gray; cursor:wait}

div.fme-filter a.fme_layered_clear {float: right; cursor:pointer;} 

/*div.price_slider { position:relative; z-index:9; height:28px; margin:0 8% 5px auto; background:url(../../images/FME/orange_bar.jpg) repeat-x 50% 50%; width: 80%; cursor:pointer; }
div.price_slider div.handle { top:3px; width:14px; height:23px; background: transparent url(../../images/FME/slider_button.png) no-repeat; cursor:move; position: absolute; }
*/




#adj-nav-container, div.adj-nav {position:relative}

.fme_loading_filters .fme_loading_filters_overlay{
    width:100%;
    height:1000%;
    background-color:#212121;
    z-index:10000;
    opacity: 0.3;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);
    position:absolute;
    top:0;
    left:0;
}

.price-container {
    width: 99%;
    
}
#fme_filters_list{

}


.fme_loading_filters img{
	left:48%;
	top:45%;
	display:block;
	position:fixed;
	z-index:900;
    opacity:1;
}

.fme_layered_clear_all {
    margin:0;
    border:1px solid #b9ccdd;
    border-left:0;
    border-right:0;
    padding:3px 10px;
    color:#1f5070;
    font-weight:bold;
    font-size:1em;
    text-align:center;
} 


.fme-filter dt{
    display: block;
    margin-top: 1px;
    position: relative;
    padding: 7px 0;
    font-weight: bold;
    text-rendering: optimizeSpeed;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
    margin-bottom: 0;
    font-weight: 800;
}

div.fme-filter dd {
    padding: 2px 2px 25px;
    border-bottom: solid 1px #E0E0E0;
    margin:0;
}

.fme-filter dt.fme_layered_dt_selected{}

div.fme-filter dd li{overflow:hidden;}

/*
.color {  clear:both; margin:6px 0 6px 0; width: 100% ; }

.color .color_box { width:17px; height:17px; float:left; display:block; border:1px solid #f4f4f4; margin-right:4px; }

.color a { font-family:Arial; font-size:12px; color:#333; text-decoration:none; }

.color a:hover { color:#09F; text-decoration:none; }

.color span { font-family:Arial; text-align: left; font-size:12px; color:#999; margin-top: -3px; }
div.fme-filter dd a:hover { color:#09F; text-decoration:none; }
div.fme-filter dd a { font-family:Arial; font-size:12px; color:#333; text-decoration:none; }*/

.block-layered-nav .fme_layered_clear_all {
    background-color: transparent;
    border-bottom: 0;
    padding:0;
}

#block-layered-nav-reference .selectize-control.multi .selectize-input > div {
    cursor: pointer;
    margin: 0 5px 3px 0;
    padding: 2px 6px;
    background: #333;
    color: #ffffff;
    border: 0;
}

#block-layered-nav-reference .selectize-control.multi .selectize-input [data-value]{
    text-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 3px;
    background: none;
    background-color: #333;
    background-image: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    position: relative;
}

#block-layered-nav-reference .selectize-control.multi .selectize-input [data-value]:hover{
    background-color:#f45482;
}

div.price_slider_ui {
    position: relative;
    z-index: 9;
    height: 10px;
    padding-top: 0px;
    border:0;
    border-bottom: 3px solid #888;
    border-radius:0px;
    margin: 0 2% 8px auto;
    background:transparent;
    width: 95%;
    cursor: pointer;
}

div.price_slider_ui  a.ui-slider-handle {
    top: 3px;
    width: 16px;
    height: 16px;
    border-radius: 30%;
    background: white;
    border: 1px solid #999;
    cursor: move;
    position: absolute;
    box-shadow: 0 0 6px -3px #333;
    padding:0;
}

div.price_slider_ui .ui-slider-range {
    height: 10px;
    padding-top: 0px;
    border:0;
    border-bottom: 3px solid #212121;
    border-radius:0px;
    background:transparent;
    cursor: pointer;
}

div.fme-filter dd li.price-container{overflow:visible;}

.price_label_wrapper {overflow: auto}
.price_from {float:left;}
.price_to {float:right;}

div.fme-filter a.fme_layered_attribute{padding:0;background:none;}
div.fme-filter .color a.fme_layered_attribute {
    width: 100%;
}

.color {
    clear: none;
    margin: 0 1px;
    display: inline-block;
    width: 14%;
}

.color .color_box { 
    width: 100%;
    padding-bottom: 100%;
    float: left;
    display: block;
    box-sizing: border-box;
    border: 1px solid #f4f4f4;
    margin-right: 0;
    border-radius: 5px;
}

.color a { font-family:Arial; font-size:12px; color:#333; text-decoration:none; }

.color a:hover { color:#09F; text-decoration:none; }

.color span { font-family:Arial; text-align: left; font-size:12px; color:#212121; margin-top: -3px; }
div.fme-filter dd a:hover { color:#09F; text-decoration:none; }
div.fme-filter dd a { font-family:Arial; font-size:12px; color:#333; text-decoration:none; }
.multi_color{background-image:url('img/multi_color_box.png');background-size:cover}

.color .color_box:hover {
    border: 1px solid #aaa;
    box-shadow: 0 0 8px -3px #333;
}

.color .fme_layered_attribute_selected .color_box {
    border: 2px solid black;
}
.checkboxattributewrapper{display: inline-block;line-height:28px;}
.checkboxattribute {display:none;}
.checkboxattribute + label {
    border: 1px solid #333;
    padding: 5px 10px;
    border-radius: 3px;
    cursor:pointer;
}

.checkboxattribute + label:hover, .checkboxattribute:checked ~ label {
    background-color: #333;
    color: white;
}

div.fme-filter div.fme_layered_clear {
    display:inline-block;
    font-weight: normal;
    font-size: 0.8em;
    float:right;
}

div.fme-filter a.adj-nav-pad1, div.fme-filter span.adj-nav-pad1 {padding-left:0px;}
div.fme-filter a.adj-nav-pad2, div.fme-filter span.adj-nav-pad2 {padding-left:10px;}
div.fme-filter a.adj-nav-pad3, div.fme-filter span.adj-nav-pad3 {padding-left:20px;}

.block-layered-nav .block-subtitle--filter {    font-family: Arial, Helvetica, sans-serif;}
.fme_layered_clear_all_mobile {display:none;}
@media (max-width: 768px) {
    #fme_filters_list{
        margin-left:25px;
    }
    div.fme-filter dd {
        padding: 0 0 10px 0;
        border-bottom: solid 1px #E0E0E0;
        margin:0;
        display: none;
    }

    div.fme-filter dd.showfilters{
        display: block;   
    }

    .fme_layered_clear_all{display: none}
    .fme_layered_clear_all_mobile {
        display: block;
        float: right;
        font-size: 0.5em;
        vertical-align: text-top;
        line-height: 30px;
    }
    .block-layered-nav .block-subtitle--filter{
        padding-right: 0;
    }
}